/* title */
.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1em !important;
  align: left;
}

/* subtitle + Learn More About Me */
.subtitle {
  font-family: "Spectral SC";
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.235em;
}

/* heading, subtitle, and blurb */
.entity-contents {
  text-align: justify !important;
  padding: 0 2em 0 2em;
  hyphens: auto;
}

/* blurb */
.about-contents {
  padding: 0 0 0 2em !important;
}


/* Learn More About Me */
.about-links.subtitle {
  font-size: 1em !important;
  font-family: "Spectral SC";
  justify-content: flex-end !important;
}

/* image */
.about-image {
  margin-top: -2em;
  padding: 0 0em 0em 0;
  width: 18em;
}

/* // Home

// social links
.about-entity {
  // block of links
  .about-links {
    column-gap: 0em !important;
    font-size: 1.2em;
  }
  // individual links
  .about-link {
    padding: 0.25em 0.25em !important;
    border: none !important;
  }
} */

/* mobile query up for screens up to ~992px wide */
@media screen and (max-width: 991.98px) {
    /* move text up & center */
    .entity-contents {
      order: 2 !important;
      margin: -4em 0 0 0 !important;
      padding: 0 0 0 0em !important;
      text-align: justify;
      hyphens: auto;
    }

    /* center subtitle */
    .subtitle {
      text-align: justify !important;
    }


    /* blurb */
    .about-contents {
      padding: 0 0 0 0em !important;
    }

    /* center Learn More About Me */
    .about-links.subtitle {
      justify-content: center !important;
    }

    /* move image up, adjust padding */
    .about-image {
      order: 1 !important;
      padding: 2em 2em 0 8em !important;
      border: 0px !important;
    }
}